body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(144deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 48%, rgba(8,39,141,1) 73%);;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

form {
    border: 3px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #094ee2;
    width: 250px;
    margin: auto;
    float: left;
}

button {
    background-color: #477aa7;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.table-container {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 250px;
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    float: left;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

input {
    border: 2px solid #000000;
    background-color: #fff;
    color: #000000;
    border-radius: 9px;
    width: 240px;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#refresh-button {
    text-align: center;
}

